@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@200;400&display=swap');

:root, :root[data-theme="dark"] {
  --primary-color: #F0F0F0;

  --primary-bg-color: #111217;
  --secondary-bg-color: #28292E;
  --primary-border-color: #28292E;
    --secondary-border-color: #56575A;

  --title-color: #F0F0F0;
  --text-color: #9A9A9C;
  --link-color: #9A9A9C;
  --icon-color: #C7C8C9;
}

:root[data-theme='light'] {
  --primary-color: #0B0B0F;

	--primary-bg-color: #E9E9E9;
	--secondary-bg-color: #C7C8C9;
	--primary-border-color: #C7C8C9;
	--secondary-border-color: #9A9A9C;

	--title-color: #0B0B0F;
	--text-color: #28292E;
	--link-color: #28292E;
	--icon-color: #56575A;
}

html[data-theme='light'] .header__logo {
    filter: invert(1);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    vertical-align: baseline;
    list-style: none;
}

body {
    background-color: var(--primary-bg-color); 
    font-family: 'Inter', sans-serif;
}

i {
    color: var(--icon-color);
}
a {
    text-decoration: none;
    color: var(--text-color);
}

a:hover {
    color: var(--primary-color);
    font-weight: 600;
}

h1 {
    font-size: 2.5rem;
    font-weight: 200;
}

h1, h2, h3 {
    color: var(--title-color);
    text-transform: uppercase;
    font-family: 'League Spartan', sans-serif;

}

p {
    font-size: 1.25rem;
    text-align: justify;
    color: var(--text-color);
    
}

.header {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
}

.header__toggle {
    display: flex;
    justify-content: flex-end;

}

.header__brand .header__logo {
    width: 3.25rem;
    height: 3.25rem;
}

#toggleTheme {
    font-size: 1.5rem;
    color: var(--icon-color);
    cursor: pointer;
    transition: ease-in-out 0.4s;
}

.menu {
    display: flex;
    align-items: center;
    background: var(--primary-bg-color); 
}
.menu__item {
    width: 100%;
}

.menu--mobile {
    width: 100vw;
    position: fixed;
    bottom: 0;
    justify-content: space-between;
    border-top: 1px solid var(--primary-border-color);
}

.menu__link  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 1rem;
    gap: .5rem;
}

.menu__link.active .menu__icon,
.menu__link.active .menu__text,
.menu__link:hover .menu__icon,
.menu__link:hover .menu__text  {
    color: var(--primary-color);
    font-weight: 600;
}

.menu__icon, .menu__text {
    color: var(--text-color);
}

.menu__icon {
    font-size: 1.5rem;
}

.menu__text {
    font-size: 0.75rem;
    text-transform: uppercase;
    bottom: 400;
}

.header__nav {
    display: none;
}

.menu--principal {
    gap: 1rem;
}

.menu--social {
    gap: 1rem; 
}

.btn {
    display: flex;
    gap: .625rem;
    width: 100%;
    align-items: center;
    justify-content: center;
    background: transparent;
    border-radius: 3.125rem;
    padding: 0.875rem 1rem;
}

.btn span, .btn i {
    font-size: 1.25rem;
    text-transform: uppercase;
}

.btn--primary {
    border: 1px solid var(--primary-color);
}

.btn--primary span {
    color: var(--primary-color);
}

main {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2.5rem 1rem;
}

.main__content1 {

}

footer p {
    font-size: .875ren;
    text-align: center;
}

@media (min-width: 768px) {
    .header {
        position: fixed;
        padding: 1rem 6rem;
        border-bottom: 1px solid var(--primary-border-color);
        background: var(--primary-bg-color);
    }
    .nav__mobile {
        display: none;
    }

    .header__nav {
    display: flex;
    }

    .header__nav,
    .header__toggle {
        min-width: 30%;
    }
}

@media (min-width: 1200px) {
    .header {
        padding: 1rem 15rem;
    }

    .footer {
    font-size: 1.15rem;
  }
}
